<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title ?? site:name }}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans leading-normal text-gray-800">
  <div class="mx-auto px-2 h-screen flex items-center justify-center">
    <div class="pb-16 text-center w-full">
      <h1 class="text-xl font-bold">{{ title }}</h1><br>
      {{ message }}
    </div>
  </div>
</body>

</html>