npm-debug.log
yarn-error.log
.DS_Store

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
phpcs.xml
build
composer.lock
coverage
phpstan.neon
testbench.yaml
/vendor
node_modules
mix-manifest.json